{
    "presets": [
        "env",
        "stage-1",
        "react"
    ],
    "plugins": [
        "syntax-dynamic-import",
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-class-properties"
    ]
}
