@import '~styles/variables';

.header {
    width: 100%;
    height: $header-height;
    background: green;
}

.ul {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0;
    margin: 0;

    li {
        flex: 1;
        list-style: none;
    }
}

.link {
    display: inline-block;
    width: 100%;
    padding: 16px 10px;
    text-align: center;

    &:hover {
        background: red;
    }
}
