@import '~styles/variables'

.header
    width 100%
    background green
    height $header-height

.ul
    margin 0
    padding 0
    display flex
    height 100%
    align-items center
    li
        flex 1
        list-style none

.link
    padding 16px 10px
    width 100%
    text-align center
    display inline-block
    &:hover
        background red
