@import '~styles/variables'

.header
    width: 100%
    background: green

.ul
    margin: 0
    display: flex
    li
        flex: 1
        list-style: none

.link
    padding: 5px 10px
    width: 100%
    text-align: center
    display: inline-block
